@keyframes earth{
  from{
      transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
  to{
     transform: rotate(360deg) translateX(250px) rotate(360deg); 
  }
}
body{
  margin-top: 80px;
  background: url("https://i.pinimg.com/originals/20/84/74/208474c298919dbec91d4a50c509310b.jpg") 0 0 no-repeat;
  background-size: cover;
}
.wrapper{
  width:500px;
  height:500px;
  margin:0 auto;
  position: relative;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.ball{
  position: absolute;
  left: 50%;
  top: 50%;
  /*transform: translate(-50%, -50%);*/
}
.earth{
  transform: translateX(250px);
  margin: -36px 0 0 -36px;
  animation: earth 5s infinite linear;
}
.sun{
  margin: -64px 0 0 -64px;
}
.sun img{
  max-width: 128px;            
}
.earth img{
  max-width: 72px;
}